@import "../../styles/variables";

.create-user-page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: $lightGrey;

  .logo {
    position: relative;
    margin: 50px auto 0 auto;
    height: 32px;
    width: 164px;
    background: url("../../assets/icons/logo.svg") center center no-repeat;
    background-size: contain;
  }

  .info-container {
    position: relative;
    width: 460px;
    height: auto;
    color: $white;
    font-size: 2em;
    margin: 30px auto 0 auto;
    text-align: center;
  }

  .steps-count-text {
    position: relative;
    width: 150px;
    margin: 50px auto 0 auto;
    text-align: center;
    font-size: 1.6em;
    color: $hiddenColor;
  }

  .header {
    position: relative;
    height: 290px;
    background: $mainBlue;
  }

  .body {
    position: relative;
    top: 0;
    height: calc(100% - 290);
    background: $lightGrey;
    overflow-y: auto;

    .reg-form {
      position: relative;
      width: 480px;
      height: auto;
      margin: 50px auto 0 auto;
      display: flex;
      flex-direction: column;

      label {
        position: relative;
        display: block;
        width: 100%;
        height: 75px;
        color: $mainBlue;
        text-align: center;
        margin-bottom: 15px;

        .input {
          position: relative;
          width: 100%;
          height: 50px;
          border-radius: 43px;
          border: none;
          outline: none;
          padding: 0 20px;
          margin-top: 5px;
        }
      }
    }

    .form-second-step + .confirm-btn {
      margin-top: 5px;
    }

    .confirm-btn {
      position: relative;
      width: 220px;
      height: 50px;
      box-shadow: 0px -2px 5px $white,
      0px 5px 10px rgba(30, 30, 30, 0.223175),
      0px -2px 9px rgba(0, 0, 0, 0.0328344),
      inset 0px 1px 3px rgba(0, 0, 0, 0.5);
      border-radius: 43px;
      background: linear-gradient(180deg, #22F8E4 0%, #4771FE 105.95%), linear-gradient(180deg, #5956F7 0%, #7D7BFC 100%);
      border: 1px solid $white;
      color: $white;
      margin-top: 50px;
      left: 50%;
      transform: translateX(-50%);
      outline: none;

      &:hover {
        cursor: pointer;
        background: linear-gradient(180deg, #6dfdec 0%, #587efc 105.95%);
      }

      &:active {
        box-shadow: inset 0px -2px 5px $white,
        inset 0px 5px 10px rgba(30, 30, 30, 0.223175),
        inset 0px -2px 9px rgba(0, 0, 0, 0.0328344);
      }
    }

    .back-btn {
      display: block;
      position: relative;
      width: 220px;
      height: 50px;
      color: #000000;
      opacity: .4;
      border: none;
      border-radius: 43px;
      outline: none;
      background: none;
      margin: 10px auto 0 auto;
      font-size: 1em;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .header,
  .footer {
    padding: 10px;
  }
}